$white: #fff;
$smoky-white: #f7f7f9;
$black: #10001f;

///////

$bg-pink: #FAF3F3;
$deep-purple-blue: #1E1A3E;
$moderate-purplish-blue: #3E4462;
$error-message: #FF6683;
$error-message-light: #FF6683;
$button-disabled: #A5A3B2;